<script setup lang="ts">
import axios from 'axios'
import { ref } from 'vue'

const laptopsData = ref({
  Cpu: -1,
  Ram: -1,
  Memory: -1,
  Gpu: -1,
  Price: 0
})
const resMessage = ref<string | null>(null)
const laptopOptions = ref([])

const predictLaptopsType = async () => {
  try {
    const response = await axios.post('http://localhost:8000/laptop/predict/', laptopsData.value)
    resMessage.value = response.data.TypeOfLaptop
  } catch (error) {
    console.error('Error predicting Laptops Type:', error)
  }
}
</script>

<template>
  <div class="container">
    <h1>Predict Laptop Type</h1>
    <div class="input-group">
      <div class="input-field">
        <label for="cpu">CPU:</label>
        <select id="cpu" v-model="laptopsData.Cpu">
          <option value="-1">Select CPU</option>
          <option value="6">Intel Core i7</option>
          <option value="9">Intel Xeon E3-1505M</option>
          <option value="3">Intel Atom x5-Z8550</option>
          <option value="5">Intel Core i5</option>
          <option value="4">Intel Celeron Dual Core 3855U</option>
          <option value="7">Intel Core i9</option>
          <option value="1">AMD Ryzen 5</option>
          <option value="2">AMD Ryzen 7</option>
          <option v-for="option in laptopOptions" :value="option" :key="option">
          {{ option }}
        </option>
        </select>
      </div>

      <div class="input-field">
        <label for="ram">RAM:</label>
        <select id="ram" v-model="laptopsData.Ram">
          <option value="-1">Select Ram</option>
          <option value="3">8GB</option>
          <option value="2">4GB</option>
          <option value="1">16GB</option>
          <option v-for="option in laptopOptions" :value="option" :key="option">
          {{ option }}
          </option>
        </select>
      </div>

      <div class="input-field">
        <label for="mem">Memory:</label>
        <select id="mem" v-model="laptopsData.Memory">
          <option value="-1">Select Memory</option>
          <option value="15">512GB SSD</option>
          <option value="3">1TB HDD</option>
          <option value="5">1TB SSHD</option>
          <option value="12">2TB SATA SSD</option>
          <option value="13">4TB HDD</option>
          <option value="16">512GB eMMC</option>
          <option value="4">1TB NVMe SSD</option>
          <option value="7">256GB PCIe SSD</option>
          <option value="14">512GB NVMe SSD</option>
          <option value="15">512GB SSD</option>
          <option value="8">256GB SSD</option>
          <option value="10">2TB HDD</option>
          <option value="2">1TB Fusion Drive</option>
          <option value="11">2TB NVMe SSD</option>
          <option value="6">256GB Flash Storage</option>
          <option value="17">6TB HDD</option>
          <option value="9">256GB eMMC</option>
          <option value="1">128GB SSD</option>
          <option v-for="option in laptopOptions" :value="option" :key="option">
          {{ option }}
        </option>
        </select>
      </div>

      <div class="input-field">
        <label for="gpu">GPU:</label>
        <select id="gpu" v-model="laptopsData.Gpu">
          <option value="-1">Select Gpu</option>
          <option value="1">Intel Iris Xe Graphics</option>
          <option value="2">NVIDIA GeForce GTX 1650</option>
          <option v-for="option in laptopOptions" :value="option" :key="option">
          {{ option}}
        </option>
        </select>
      </div>

      <div class="input-field">
        <label for="price">Price:</label>
        <input type="number" id="price" v-model.number="laptopsData.Price" min="0" placeholder="Enter Price" required>
      </div>
    </div>

    <button @click="predictLaptopsType">Predict Laptop Type</button>

    <div v-if="resMessage !== null" class="result">
      <h2>Predicted Laptop Type:</h2>
      <p class="weight">{{ resMessage }}</p>
    </div>
  </div>
</template>

<style scoped>
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.input-group {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;
}

.input-field {
  margin-bottom: 20px;
}

label {
  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 12px 0;
  background-color: #6e9dd0;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #073748;
}

.result {
  margin-top: 20px;
  text-align: center;
  padding: 20px;
  background-color: #0e9dd0;
  color: white;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.result h2 {
  margin-bottom: 10px;
}

.result p.weight {
  font-size: 24px;
  border: 2px solid #fff;
  padding: 10px 20px;
  border-radius: 20px;
  display: inline-block;
}
</style>
